@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,500;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'); /*importando os icones como fonte pelo fontAwesome*/


*{ /* ' * ' resetando tudo */
    margin: 0; /*margem geral do html*/
    padding: 0; /*margem interna dos elementos*/
    list-style: none; /*remove as bolinhas q antecedem as listas de todas as paginas */
    text-decoration: none; /*remove os sublinhados das Âncoras(links) de todas as paginas*/
}

:root{ /* root sendo usada para declar uma var global*/
    --font-primary: "Baloo Da 2", serif; /*variavel para caso queira mudar as fontes n precise 1por 1*/
    --font-secondary: "Josefin Slab", serif; /*fonte secundaria, h2*/
    --font-action: "Muli", serif; /*fonte de ação p usar nos links, buttom, td q for ação*/
}


.hamburguer{ /*classe menu hamburguer*/
    /*background-color: red;*/
    width: 2rem;
    height: 2rem;
    position: fixed; /*para ele travar na tela enquanro o user faz a rolagem*/
    z-index: 100; /*z-index deixa vc escolher em qual"camada"seu elemtno vai ficar igua o adobePs6*/
    right: 2rem;
    top: 2rem;
    display: flex; /*para conseguir dar espaço nas linhas da div hamburguer*/
    flex-direction: column; /*p dizer p elemtno ficar um em baixo d outro*/
    justify-content: space-evenly; /*espalhar os elemtos p dizer como q vao se comortar com o espaçament*/
    cursor: pointer; /*informando q tem interação no menu hamburg*/
}

.show-menu .hamburguer{
    right: 16rem;
}

.line{
    width: 100%; /*vai ter o msm tamanho q o elemento pai*/
    height: .1rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 1px black; /*dar sombrinha nas linhas do menu p aparecer em outros fundos*/
    cursor: pointer;
    transition: transform 1s;
}

.show-menu #line1{
    transform: rotate(50deg) translate(.3rem, .45rem);
}


.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-50deg) translate(.3rem, -.45rem);

}

.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 166, 187);
    color: white;
    font-family: var(--font-action);
    opacity: 0;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid rgb(8, 166, 187);
    border-top  : .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}

header{
    width: 100%;
    height: 100vh; /* vh é view height = altura da view*/
    overflow: hidden; /* hidden esconder, overflow n deixa o cabçalho passar e dar scrool p lado*/
    position: relative; /*referencia na classe banner*/
}
.img-wrapper{
    width: 100%; /* ocupando 100 da largura do Header*/
    height: 100%; /* ocupando 100 da altura do Header*/
    background-color: rgba(0,0,0,0.85); /*rgba ultimo parametro é transparente*/
}
.img-wrapper img{
    width: 100%; /*largura*/
    height: 100%; /*altura*/
    object-fit: cover; /*especf como o objto esta dentro do conteiner, cover n perde proporçao*/
    opacity: 0.4; /*mudando a transp da img*/
    animation: zoom 25s; /* nome e o tempo e outras funcs*/
}
@keyframes zoom{ /*só funfa se botar na classe referida, o animation: valor+*/
    0%{
        transform:scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
.banner{
    position: absolute; /*position absolute só funfa se tiver dentro de um elemt position relativo*/
    top: 30%; /*distancia do elemt em rel a borda superior(top)*/
    left: 15%;
}
.banner h1{ /*seleciona só h1 dentro do banner, caso contrario era h1 sem banner*/
    color: white;
    font-size: 3rem; /*rem=tamanho de fonte padrao (16px)*/
    font-family: var(--font-primary); /*baloo fonte do servidr, serif fonte padrao p evitar b.o*/
    font-weight: 200; /*pêso(negrito) da fonte */
    text-shadow: .3rem .4rem 3px rgba(0,0,0, .4); /*Parametros 1°baixo 2°direita 3°blurr*/
    line-height: 3.5rem; /*altura da linha*/
    margin-bottom: 2rem; /*usando a margem dbaixo pra dar espaçamento entre os txto*/
    opacity: 0;
    animation: moveBanner 3s forwards;
}
.banner p{
    font-family: var(--font-secondary);
    color: white;
    font-size: 2rem; 
    text-shadow: .2rem .2rem 2px rgba(0,0,0, .4); /**/
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 4s forwards;
}
.banner button{
    font-family: var(--font-action);
    color: black;
    font-size: 1.2rem;
    letter-spacing: .1rem; /*espaço entre as letras da palavra*/
    text-transform: capitalize; /*captalize smpre começando c maiscula*/
    background: #2980B9;
    background: -webkit-linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9); /*chrome*/
    background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9); /*EDGE IE-EXPL SAFARI*/
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    opacity: 0;
    animation: moveBanner 4s forwards;
    cursor: pointer; /*indica o user q ali acontece algum evento*/
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem); /*Translate usa o plano cartesiano Y e X */ 
    }
    100%{
        transform: translateY(0);
        opacity: 1; /*p poder aparecer na tela pq na classe ta opacit 0*/
    }
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed; /*manter as LI sempre fixa igual no menu hamburg*/
    top: 0;
    right: -20rem;
    transition: all 1s;
/*  list-style: none;          /*remove as bolinhas q antecedem as listas*/   
/*  text-decoration: none;    /*remove os sublinhados das Âncoras(links)*/
}

.show-menu .sidebar{
    right: 0;

}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /*vai se posicionar em relaçao ao lef e o top fica no meio*/

}

.menu-item{
    text-align: center;
    margin-bottom: .5rem;
    cursor: pointer;
}

.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
    color: black;
    transition: color 1s;
}
.menu-link:hover{
    color: rgb(8, 166, 187);

}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;

    display: flex;
    justify-content: space-evenly; /*distribui um espacinho entre os elemttos*/
}

.social-media i{
    color: rgb(8, 166, 187);
    height: 2.5rem;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem; /* p aumentar o TAM do ico, tem q ser pelo font-size pq ele é lido como font*/
    display: flex; /*posicionando os ico no centro c display flex*/
    justify-content: center; /*faz parte do posicionamento flex*/
    transition: background-color 1s;
    align-items: center;/*alinhando ico tanto na vertical quanto na horizontal*/
    border-radius: 30px;
}

.social-media i:hover{
    background-color: black;
}


/*abaixo temos uma PSEUDOCLASSE*/
.banner button:hover{ /*pseudo classe pq indica uma ação/evento, no caso o hover*/
    opacity: 0.9;
    color: rgba(255, 104, 3, 0.938);
}


/*aqui vai tudo que tem na rolagem (scroll) pra baixo*/
.conhecimentos{
    display: grid;
    grid-template-columns: repeat(16, 1fr); /*aqui faz 16x 1frame cd vez,gera 16colunas no browser*/
    grid-template-rows: repeat(6, 6rem); /*6linhas cada uma com altura de 6rem*/
    row-gap: .5rem; /*espaço só nas linhas*/

}

/* pegando os elementos conhecimento e alinhando nas colunas e linhas*/
.conhecimento:nth-child(1){ /*vai pegar o primeiro elemento conhecimento*/
    grid-column: 4 / 7;
    grid-row: 1 / 3 ;
}

.conhecimento:nth-child(2){ /*vai pegar o primeiro elemento conhecimento*/
    grid-column: 3 / 6;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(3){ /*vai pegar o primeiro elemento conhecimento*/
    grid-column: 4 / 7;
    grid-row: 5 / -1 ;
}

.conhecimento:nth-child(4){ /*vai pegar o primeiro elemento conhecimento*/
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(5){ /*vai pegar o primeiro elemento conhecimento*/
    grid-column: 12 / 15;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(6){ /*vai pegar o primeiro elemento conhecimento*/
    grid-column: 11 / 14;
    grid-row: 5 / -1;
}

.sessao-conhecimentos{
    background-color: #f5f5f5;
}


.sessao-header{
    display: flex;
    align-items: center; /* alinhamento vertical*/
    justify-content: center; /*faz o alinhamento horizontal*/

}

.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: rgb(8, 166, 187); /*cor do titulo CONHECIMENTO*/
    border-bottom: solid 3px rgba(255, 104, 3, 0.938); /*cor da borda do elemento CONHECIMENTO*/
    margin-bottom: 1.5rem; /*aplicando margem pra dar um espaçamento do titulo para os demais itens abaixo*/
}

.conhecimento-header{
    display: flex; /*faz com q os icones fiquem um ao lado do outro ico=nome*/
    align-items: center;
    color: #4b4b4b; /*cor global dos elemtnos titulo,texto,icone*/
}

.conhecimento-header i{ /*classe dos ICONES*/
    font-size: 2.5rem; /*aumentando o tamanho do ICO*/

}

.conhecimentos-header h3{ /*classe p formatar o texto ao lado do ICONE (h3)*/
    font-family: var(--font-secondary);
    font-size: 2rem;
    padding-left: 1rem;

}


.conhecimento-text{
    font-family: var(--font-secondary);
    margin-top: 1rem; /* dando um espacinho p elemtno n ficar mt grudado*/
}

.conhecimentos-img-wrapper img{ /*objetcv fit diz p img respeitar o tam do envelope*/
    object-fit: cover;
    width: 100%;

}

.conhecimentos-img-wrapper{ /*a ideia do wrapper é para ele envelopar a imagem, nao passar o tamanho do envlope*/
    grid-column: 7 / 11;
    grid-row:  2 / 6;
    width: 100%;
}